/* App.css */
.App {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #669bbc;
    padding: 20px;
}

.Header {
    background-color: #007bff;
    color: #fdf0d5;
    padding: 10px;
}

.Userinput {
    background-color: #fdf0d5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.ResultsTable {
    background-color: #fdf0d5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 16px;
    color: #003049;
    margin-top: 20px;
}